appnope
asttokens
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy==1.23.5
packaging
pandas
parso
pexpect
pillow
platformdirs
plotly
prompt_toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scikit-plot
seaborn
six
stack-data
tornado
traitlets
typing_extensions
tzdata
wcwidth
imbalanced-learn
openpyxl